body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../images/background.png') no-repeat center center/cover; /* Path to your image */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  top: 0;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-links {
  display: flex; /* Changes direction to horizontal */
  gap: 15px;     /* Adds space between links */
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #4CAF50;
}

.content {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}

.content h1 {
  color: #4CAF50;
  margin-bottom: 10px;
}

.content p {
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45A049;
}
